<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Utilisateur List</h2>
  </div>
  <div class="table-responsive">
    <table class="table data-list-view" >
      <thead>
        <tr>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs" >
          <td>{{utilisateur.prenom}}</td>
          <td>{{utilisateur.nom}}</td>
          <td>{{utilisateur.email}}</td>
           <td><button (click)="deleteUtilisateur(utilisateur.id)" class="btn btn-danger">Supprimer</button>
              <button (click)="updateUtilisateur(utilisateur.id)" class="btn btn-info" style="margin-left: 10px"
              data-toggle="modal" data-target="#myModal">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
          <form [formGroup]="utilisateurupdateform" #updstu (ngSubmit)="updateStu(updstu)">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">Update Utilisateur</h4>

      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngFor="let utilisateur of utilisateurlist " >
          <div [hidden]="isupdated">

              <input type="hidden" class="form-control"  formControlName="utilisateur_id" [(ngModel)]="utilisateur.id">
                      <div class="form-group">
                          <label for="name">Utilisateur nom</label>
                          <input type="text" class="form-control"  formControlName="utilisateur_nom" [(ngModel)]="utilisateur.nom"  >
                      </div>

                      <div class="form-group">
                        <label for="name">Utilisateur prenom</label>
                        <input type="text" class="form-control"  formControlName="utilisateur_prenom" [(ngModel)]="utilisateur.prenom"  >
                    </div>

                      <div class="form-group">
                          <label for="name">Utilisateur email</label>
                          <input type="text" class="form-control" formControlName="utilisateur_email" [(ngModel)]="utilisateur.email">
                      </div>

            </div>
            <div [hidden]="!isupdated">
                <h4>Student Detail Updated!</h4>
            </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer" >
        <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
      </div>

  </form>
    </div>
  </div>
</div>
