<h2 class="info">Detail cours</h2>

<hr/>
<div *ngIf="cours">
  <div>
    <label><h1 class="info" >Titre : </h1></label> {{cours.titre}}
  </div>
  <div>
    <label><h3 class="info" >Description : </h3></label> {{cours.desc}}
  </div>
  <div>
    <label><h5 class="warning">Lien: </h5></label> {{cours.lien_cours}}
  </div>
</div>

<br>
<br>
<div class="col-12" >
<button (click)="downloadFile()" class="btn btn-info mr-1 mb-1 waves-effect waves-light" >telecharger le cours</button>
<button (click)="list()" class="btn btn-warning mr-1 mb-1 waves-effect waves-light">retour a la liste des cours</button><br>
</div>


