<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Article List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Etat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles"> 
            <td>{{article.titre}}</td>
            <td>{{article.desc}}</td>
            <td>{{article.status}}</td>
            <td><button (click)="deleteArticle(article.id)" class="btn btn-danger">Archiver</button>
                <!-- <button (click)="updateArticle(article.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button> -->
                <!-- <button (click)="getArticle(article.id)" class="btn btn-info" style="margin-left: 10px">afficher</button> -->
                <button (click)="detailArticle(article.id)" class="btn btn-info" style="margin-left: 10px">Afficher</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>